
<% provide(:title, "About") %>


	<div class="howtouse" style="margin-top: -10px;">

  <div class="imagen_fondo" style="">
    <div style="color: white;">
        <h1 style="text-align: center; margin-top: 100px;">About Constructor. About Data Architects.</h1>
    </div>
  </div>
  
<div class="container">
  <div class="paddings" style="background-color: white;">
    <div class="container" style="padding-top: 40px; width: 100%; padding-bottom: 100px;">
      <div class="row">

      		<div class="col-md-10 col-md-offset-1">
      			<h1 style="font-size: 30px;">Sobre Constructor</h1>
						<h5 style="font-size: 18px; margin: 20px;">
						  En constructor queremos diseñar la mejor herramienta para que puedas diseñar o reformar tu nueva vivienda.
						</h5>
						<h5 style="font-size: 18px; margin: 20px;">
							Constructor forma parte de la Oficina de Arquitectura Data Arquitectos.
						</h5>
						<h5 style="font-size: 18px; margin: 20px;">
							Nos hemos propuesto devolver el control de todo el proyecto, incluyendo la obra, a sus usuarios. Para ello hemos diseñado una herramienta tecnológica, basada en datos que te permite poder diseñar cada parte de tu vivienda en base a su precio y su tecnología. 
						</h5>
						<h5 style="font-size: 18px; margin: 20px;">
							<b>En nuestra oficina utilizamos la base de datos actualizada cada día para obtener un diseño óptimo para cada zona y cada usuario, desde constructores especialistas valorados por la comunidad, ofertas que surgen para cada zona y servicios especiales. </b>
						</h5>
					</div>				         
					
      </div> 
    </div>
  </div>

</div>
