<% provide(:title) %>
<div class="howtouse">

  <div class="imagen_fondo" style="margin-top: -10px;">
    <div style="color: white;">
        <h1 style="text-align: center; margin-top: 100px; color: white;">How to use ConstructUX</h1>
    </div>
  </div>

  <div class="paddings" style="background-color: white;">
    <div class="container" style="padding-top: 40px; width: 100%; padding-bottom: 100px;">
      <div class="row">    
        <div style="text-align: center;"><h3 style="font-size: 32px; font-weight: 500; padding: 20px;">Evita reformas desastrosas</h3></div>
        <div class="funcionamiento">
          <div class="colum_funcionamiento"><i class="far fa-file-alt fa-4x" style="color: #555;"></i><i class="far fa-heart fa-3x" style="color: #008489; margin-left: -10px;"></i>
            <h5><span style="font-size: 24px;">1.</span> Diseña tu reforma en nuestro: <%= link_to "Calculador de reformas", '/reforma', class: "btn", style: "color: #008489; border: 1px solid #008489; padding: 10px; border-radius: 10px; font-weight: 700;" %> <div style="display: block; padding-top: 15px;">o cuéntanos tu proyecto: <%= link_to "Tu proyecto", new_partida_path(invitado: true), class: "btn", style: "color: #008489; border: 1px solid #008489; padding: 10px; border-radius: 10px; font-weight: 700;" %></div></h5></div>

          <div class="colum_funcionamiento"><%= image_tag('partida_default.jpg', size: 100, style: "margin-top: -30px;") %>
            <h5 style="margin-top: -10px;"><span style="font-size: 24px;">2.</span> Un gestor de proyectos de constructUX se hará cargo de tu proyecto y se pondrá en contacto contigo (<span style="color: #008489; font-weight: 700;">totalmente gratis todo el proceso</span>).</div>

          <div class="colum_funcionamiento"><i class="far fa-copy fa-4x" style="color: #555;"></i><i class="far fa-copy fa-4x" style="color: #555; margin-left: -10px;"></i><i class="fas fa-arrow-right fa-3x" style="color: #008489; margin-left: 0px;"></i><h5><span style="font-size: 24px;">3.</span><span style="color: #008489; font-weight: 700;">Somos 100% imparciales.</span> Estudiamos las mejores soluciones técnicas, te damos las mejores ofertas y filtramos las mejores empresas (licencias, seguros, valoraciones...).</h5></div>

          <div class="colum_funcionamiento"><i class="fas fa-mobile-alt fa-4x" style="color: #555;"></i><i class="far fa-check-circle fa-3x" style="color: #008489; margin-left: -10px;"></i><h5><span style="font-size: 24px;">4.</span>Tu eliges la mejor entre todas las propuestas, con un precio cerrado. Asesoramiento en el proceso de contratación y asistencia durante la obra ante cualquier problema.</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>