<% provide(:title) %>
<div class="howtouse" style="margin-top: -10px;">

  <div class="imagen_fondo" style="">
    <div style="color: white;">
        <h1 style="text-align: center; margin-top: 100px; color: white;">Objetivos</h1>
    </div>
  </div>

  <div class="container">
    <div class="paddings" style="background-color: white;">
      <div class="container" style="padding-top: 40px; width: 100%; padding-bottom: 100px;">
        <div class="row">   

            
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <h1 style="font-size: 30px;">Objetivos</h1>
              <h3 style="text-align: left; font-size: 22px; margin-bottom: 30px; font-weight: normal;">Diseñar la mejor herramienta para que puedas diseñar tu reforma.</h3>
              <h5 style="font-size: 20px; margin: 20px;">

              </h5>

              <h3 style="text-align: left; font-size: 22px; margin-bottom: 30px; font-weight: normal;">Aprovechar las nuevas tecnologías para ofrecerte las mejores empresas y soluciones.</h3>
  
              <h3 style="text-align: left; font-size: 22px; margin-bottom: 30px; font-weight: normal;">Eliminar el problema actual que supone cualquier proyecto de obra para los usuarios.</h3>
  
            </div>                 
            
        </div> 
      </div>
    </div>
  </div>

</div>
