<% provide(:title) %>
<div class="howtouse" style="margin-top: -10px;">

  <div class="imagen_fondo" style="">
    <div style="color: white;">
        <h1 style="text-align: center; margin-top: 100px;">Objetivos</h1>
    </div>
  </div>

  <div class="container">
    <div class="paddings" style="background-color: white;">
      <div class="container" style="padding-top: 40px; width: 100%; padding-bottom: 100px;">
        <div class="row">   

            
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <h1 style="font-size: 30px;">Objetivos</h1>
              <h3 style="text-align: left; font-size: 22px; margin-bottom: 30px; font-weight: normal;">1. Lograr que personas que no quieren el sistema actual de partidos ni sus políticas conecten con gente que tenga ganas de participar y defender a su comunidad y sus ideas.</h3>
              <h5 style="font-size: 20px; margin: 20px;">

              </h5>

              <h3 style="text-align: left; font-size: 22px; margin-bottom: 30px; font-weight: normal;">2. Generar tu identidad política en internet, y mediante la unión de todos las identidades políticas generar una representación de la sociedad que ayude a mejorarla.</h3>
              <h5 style="font-size: 20px; margin: 20px;">

              </h5>
              <h3 style="text-align: left; font-size: 22px; margin-bottom: 30px; font-weight: normal;">3. Que quien quiera formar de un gobierno y participar de forma activa pueda sin la necesidad de partidos políticos.</h3>
              <h5 style="font-size: 20px; margin: 20px;">

              </h5>
              <h3 style="text-align: left; font-size: 22px; margin-bottom: 30px; font-weight: normal;">4. Que puedas descubrir gente maravillosa que está dispuesta a representarte fuera de los actuales partidos; y que puedar dar tu apoyo (o tu rechazo).</h3>
              <h5 style="font-size: 20px; margin: 20px;">

              </h5>
              <h3 style="text-align: left; font-size: 22px; margin-bottom: 30px; font-weight: normal;">5. Que puedas presentar propuestas para tu barrio/ciudad/comunidad/pais.</h3>
              <h5 style="font-size: 20px; margin: 20px;">

              </h5>
              <h3 style="text-align: left; font-size: 22px; margin-bottom: 30px; font-weight: normal;">6. Poder elegir las decisiones que se toman y te afecten directamente.</h3>
              <h5 style="font-size: 20px; margin: 20px;">

              </h5>
            </div>                 
            
        </div> 
      </div>
    </div>
  </div>

</div>
