<div class="aside_content" style="margin-top: 15px;">
  <ul class="principal">
    <li class="titulo">
      <%= link_to "Tus actions", user_plazas_path(user_id: current_user, accion: true) %>
    </li>
    <% @actions.take(5).each do |action| if @actions.any? %>
      <li class="lista_block">
        <ul class="inline">
          <li>
            <%= link_to action.name, user_plaza_path(user_id: current_user, id: action) %>
          </li>
          <li class="inline" style="align-items: center;">
              <%= image_tag action.foto.url, size: 50 if action.foto? %>
          </li>
          <li class="inline">
            <span class="nombres" style="color:#0084B4;"><%=  action.description %></b></span>
          </li>
        </ul>
      </li>
    <% end %>
    <% end %>
  </ul>
</div>