<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="constructor">

				<h1>Nuevo Presupuesto</h1>

				<%= render 'form', presupuesto: @presupuesto %>

				<h5><%# link_to 'Back', presupuestos_path %></h5>

			</div>
		</div>
	</div>
</div>
