<div class="container">
  <div class="row">
  	<div class="col-md-1"></div>
    <div class="col-md-10">
			<h1 style="color: #444;">Nueva Habitación</h1>

				<%= render 'form', habitacion: @habitacion %>

				<%# link_to 'Back', reform_path(id: params[:reform_id]) %>
		</div>
    <div class="col-md-1"></div>
  </div>
</div>
