<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="constructor">

				<h1>Partida personalizada</h1>

				<%= render 'form', partida: @partida %>

				<h5 style="margin: 0px;"><%# link_to 'Back', reforms_path %></h5>
			</div>
		</div>
	</div>
</div>
