<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="constructor">

				<%= link_to 'Show', reform_bano_path(id: @bano.id) %> |
				<%= link_to 'Back', reform_banos_path %>

				<h1>Editing Bano</h1>

				<%= render 'form', bano: @bano %>
			</div>
		</div>
	</div>
</div>


