<%= form_for(current_user.active_relationships.build, remote: true) do |f| %>
  <div><%= hidden_field_tag :followed_id, @user.id %></div>
  <%= f.submit "Seguir usuario", class: "btn btn-primary", style: "background-color: white; color: #46b8da; border: 1px solid #46b8da;" %>
<% end %>