<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="constructor">
				<h1>Editing Reform</h1>

				<%= render 'form', reform: @reform %>

				<h5><%= link_to "Atrás", reforms_path %></h5>
			</div>
		</div>
	</div>
</div>
