<div class="container">
	<div class="row">
    <div class="col-md-1"></div>
   
    <div class="col-md-10">
      <div class="constructor">
				<h1>Editing Empresa</h1>

				<%= render 'form', empresa: @empresa %>

				<h5><%= link_to 'Show', @empresa %> |
				<%= link_to 'Back', root_path %></h5>
			</div>
		</div>
	</div>
</div>
