<div class="container">
	<div class="row">
    <div class="col-md-1"></div>
   
    <div class="col-md-10">
      <div class="constructor">
				<h1>Edita tus datos</h1>
				<h3 style="font-weight: 500;">Edita el precio que das por cada partida, elimina alguna partida o añade o elimina partidas personalizadas diseñadas por ti mismo </h3>

				<%= render 'form', empresa: @empresa %>

				<h5><%# link_to 'Show', @empresa %> 
				<%# link_to 'Back', root_path %></h5>
			</div>
		</div>
	</div>
</div>
