@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@media (min-width: 576px) { /* imagenes fondo */

.backgroundimg {
  background-image: url('helicopter.jpg');

  background-size: cover;

  background-position: center center;

  background-repeat: no-repeat;

  height: 100vh;

  width: 100%;

  display: flex;

  color: white;

  text-align: center;

  align-items: center;

} }
@media (min-width: 768px) { /* imagenes fondo */

.backgroundimg {
  background-image: url('carsjpg');

  background-size: cover;

  background-position: center center;

  background-repeat: no-repeat;

  height: 100vh;

  width: 100%;

  display: flex;

  color: white;

  text-align: center;

  align-items: center;

} }
@media (min-width: 992px) { /* imagenes fondo */

.backgroundimg {
  background-image: url('plane.jpg');

  background-size: cover;

  background-position: center center;

  background-repeat: no-repeat;

  height: 100vh;

  width: 100%;

  display: flex;

  color: white;

  text-align: center;

  align-items: center;

} }
@media (min-width: 1200px) { /* imagenes fondo */

.backgroundimg {
  background-image: url('ciudad5.jpg');

  background-size: cover;

  background-position: center center;

  background-repeat: no-repeat;

  height: 100vh;

  width: 100%;

  display: flex;

  color: white;

  text-align: center;

  align-items: center;

} }


/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 4.5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2center {
  font-size: 4.5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h1center {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h4center {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h1center {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}


.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 1px;
  background-color: white;
  li {
    padding: 10px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    border-left: 1px solid #d9d9d9;
    border-right: 1px solid #d9d9d9;
  }
  .user {
    margin-top: 5em;
    padding-left: 5px;
  }
  .content {
    position: relative;
    padding-top: 10px;
    display: block;
    margin-left: 20px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    font-size: 11px;
    position: relative;
    color: $gray-light;
    float: right;
    margin-right: 20px;
    padding-top: 20px;
  }

  .gravatar {
    position: relative;
    padding-top: 5px;
    margin-left: 5px;
  }
  .hashtag {
    position: relative;
    display: block;
    padding: 5px;
    text-align: right;
    margin-right: 15px;
  }

  .comments {
  position: relative;
  padding-top: 10px;
  margin-left: 40px;
  padding-bottom: 5px;
  }

  .comentario {
  position: relative;
  display: block;
  padding-top: 10px;
  margin-left: 40px;
  padding-bottom: 5px;
  }

  .numbercomments {
  position: relative;
  display: block;
    padding: 5px;
    text-align: right;
  font-size: 15px;
  color: $gray-light;
  }

  .votes {
  position: relative;
  display: block;
  padding-top: 5px;
  text-align: right;
  margin-right: 15px;
  font-size: 15px;
  color: $gray-light;
  }

  .picture_content {
  position:relative;
  display: block;
  padding-top: 20px;
  padding-botom: 30px;
  max-height: 500px;
  overflow: hidden;
  height: expression(this.scrollHeight > 501? "500px" : "auto" );
  left: 30px;
  top:10px;
}

  .links {
  border-style: solid;
  border-width: 1px;
  border-color: #d9d9d9;
  margin: 15px 15px 15px 15px;
  padding: 10px 10px 10px;
  }


}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  margin-left: 50px
  input {
    border: 0;
    width: 100%;
  }
}



.video-responsive {
position: relative;
padding-bottom: 65%; /* 16/9 ratio */
padding-top: 20px; /* IE6 workaround*/
overflow: hidden;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
position: absolute;
top: 15px;
left: 15px;
width: 100%;
height: 90%;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}
