@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@import "font-awesome-sprockets";
@import "font-awesome";

body {
  padding-top: 60px;
  background-color: #e9e9e9;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 4.5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2center {
  font-size: 4.5em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h1center {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h4center {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h1center {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  padding: 10px;
  margin:   5px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* universal */


section {
  overflow: auto;
}


textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* header */



header {
  
}
@media (max-width: 576px) {
  header li {
    margin-right: 5px;
    width: 100%;
    text-align: center;
    }  
}
@media (min-width: 576px) {
header li {
    margin-right: 40px;
    width: 100%;
    text-align: center;
    color: white;
    }
}
header p {
  margin: 0px;
  font-size: 0.9em;
  }
header ul {
  margin-bottom: 5px;
  margin-left: 10px;
}
header i {

}
header li:hover {
  background-color: #004d99;
}
.active {
  background-color: #004d99 !important;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {

@media (max-width: 768px) {
  section.user_info {
    display: none;
  }
  section.stats {
  display: none;
  }
}
@media (min-width: 768px) {
  section.user_info {
    margin-top: 20px;
  }
}

  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}


.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 1px;
  background-color: #e9e9e9;
  li {
    padding: 15px;
    
    margin-bottom: 10px;
    box-shadow: 0px 5px 5px #cbcbcd;
    background-color: white;
    border-radius: 5px;
  }
  .user {
    margin-top: 5em;
    padding-left: 5px;
  }
  .content {
    position: relative;
    padding-top: 15px;
    padding-bottom: 10px;
    display: block;
    margin-left: 10px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    font-size: 11px;
    position: relative;
    display: inline;
    color: $gray-light;
    float: right;
    margin-right: 20px;
    padding-top: 5px;
  }

  .gravatar {
    position: relative;
    padding-top: 5px;
    margin-left: 5px;
  }
  .hashtag {
    position: relative;
    display: inline;
    padding: 5px;
    text-align: right;
    color: #7e7e81;
  }

  .comments {
  position: relative;
  padding-top: 10px;
  margin-left: 40px;
  padding-bottom: 5px;
  }

  .comentario {
  position: relative;
  display: block;
  margin-left: 05px;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
    h6{
    display: inline-block;
    }
  }

  .numbercomments {
  position: relative;
  font-size: 12px;
  display: inline;
    padding: 5px;
    text-align: right;
  color: $gray-light;
  }

  .votes {
  position: relative;
  display: inline-block;
  padding: 5px;
  text-align: right;
  font-size: 15px;
  color: $gray-light;
  }

  .picture_content {
  position:relative;
  display: block;
  padding: 1px;
  max-height: 400px;
  overflow: hidden;
  height: expression(this.scrollHeight > 401? "400px" : "auto" );
  padding-top: 8px;
}

  .links {
  border-style: solid;
  border-width: 1px;
  border-color: #d9d9d9;
  margin: 4px;
  padding: 0px;
  }

  .social_elements {
    display: flex;
    overflow: auto;
    margin: 1px;
    font-size: 12px;
    padding: 1px;
    border-bottom: 1px solid #e6e9ec;
    line-height: 16px;
    li {
    list-style-type: none;
    text-align: center;
    display: inline;
    border: 0px;
    padding: 3px;
    width: 100%;
    margin: 5px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding: 10px;
    box-shadow: 0px 0px 0px white;
    }
  }

  textarea {
  margin-bottom: 2px;
  margin-top: 0px;
  padding: 3px;
  border-top: 1px solid #e6e9ec;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
  }

  input {
  margin-bottom: 5px;
  }
  .post_comment {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    width: 100%;
    display: flex;
    overflow: auto;
    font-size: 12px;
    padding: 1px; 
    line-height: 16px;
    li {
    list-style-type: none;
    border: 0px;
    padding: 3px;
    margin-bottom: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding: 10px;
    box-shadow: 0px 0px 0px white;
    }
  }  
  .user-data {
    margin-top: -10px;
    color: $gray-light;
    display: inline-block;
    list-style: none;
    padding-left: 0px;
    padding-top: 0px;
    position: relative;
    top: 10px;
    li {
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-shadow: 0px 0px 0px white;
    }
  }

  .img-circle {
  vertical-align: top;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  margin-left: 50px
  input {
    border: 0;
    width: 100%;
  }
}



.video-responsive {
position: relative;
padding-bottom: 65%; /* 16/9 ratio */
padding-top: 20px; /* IE6 workaround*/
overflow: hidden;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
position: absolute;
top: 15px;
left: 15px;
width: 100%;
height: 90%;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

.micropost_form {
  background-color: white;
  box-shadow: 0px 5px 5px #cbcbcd;
  margin-bottom: 10px;
  margin-top: 5px;
  border-radius: 5px;

  textarea {
  border: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e6e9ec;
  padding-top: 10px; 
  }

  .emoticons {

  li {
  background-color: #f2f4ff;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 10px;
  padding: 3px;
  font-size: 12px;
  }
  }

  .iconos-share {
  display: inline;
  padding: 0px;
  margin: 0px;
  width: 100%;
    textarea {
    width: 100%;
    }
    ul {
    padding-left: 3px;
    }
    li {
    list-style-type: none;
    padding: 5px;
    }
    select {
    margin-bottom: 3px;
    }
    file_input {
    width: 25%;
    border: #e6e9ec;
    }
  }

  .share-content {
  border: 1px solid #f2f2f2;
    textarea {
    margin: 0px;
    border: 0px;
    }
  }

  #test {
    position: relative;
    padding: 5px;
  }

  #test .wrapper {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    z-index: 2;
  }

  test .wrapper:hover {
    opacity: 0.5;
  }

  test button {
    background-color: #ccc;
    border: none;
    color: #666;
    padding: 3px 5px;
    border-radius: 5px;
    position: relative;
    top: 0;
    z-index: 1;
  }
}

.plaza_post_form {
  background-color: white;
  box-shadow: 0px 5px 5px #cbcbcd;

  textarea {
  border: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e6e9ec;
  padding-top: 10px; 
  }

  .iconos-share {
  display: inline;
  padding: 0px;
  margin: 0px;
  width: 100%;
    textarea {
    width: 100%;
    }
    ul {
    padding-left: 3px;
    }
    li {
    list-style-type: none;
    padding: 5px;
    }
    select {
    margin-bottom: 3px;
    }
    file_input {
    width: 25%;
    border: #e6e9ec;
    }
  }

  .share-content {
  border: 1px solid #bfbfbf;
    textarea {
    margin: 0px;
    border: 0px;
    }
  }


  #test {
    position: relative;
    padding: 5px;
  }

  #test .wrapper {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    z-index: 2;
  }

  test .wrapper:hover {
    opacity: 0.5;
  }

  test button {
    background-color: #ccc;
    border: none;
    color: #666;
    padding: 3px 5px;
    border-radius: 5px;
    position: relative;
    top: 0;
    z-index: 1;
  }
}
  
   .background-imagen {
   background-image: url('helicopter.jpg');
   width: 100%;
   padding: 0px;
   margin: 0px;
   }

.ul-petitions {
  list-style: none;
  padding-left: 0px;
  p {
  border-top: 0.7px solid #bfbfbf;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
  }
  li {
  background-color: white;
  padding-left: 0px;
  }
  .title-petition {
  display: block;
  padding-bottom: 15px;
  padding-top: 15px;
  border-top: 1px solid #e6e9ec;
  padding-left: 15px;
  }
  .social_elements {
    display: flex;
    overflow: auto;
    margin: 1px;
    font-size: 12px;
    padding: 1px;
    border-bottom: 1px solid #e6e9ec;
    line-height: 16px;
    padding-left: 20px;
    li {
    list-style-type: none;
    text-align: center;
    display: inline;
    border: 0px;
    padding: 3px;
    width: 100%;
    margin: 5px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding: 10px;
    box-shadow: 0px 0px 0px white;
    }
  }
  .encabezado {
  font-size: 12px; 
  width: 100%;
  padding-top: 10px;
  text-align: right;
  padding-left: 15px;
  padding-bottom: 12px;
  li {
  }
  }
}


/*-----------------------------------------------------------------
/* imagenes fondo */
@media (max-width: 576px) { 
.backgroundimg {
  background-image: url('helicopter.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  color: white;
  text-align: center;
  align-items: center;
}
}
/*-----------------------------------------------------------
/* imagenes fondo */
@media (min-width: 576px) { 
.backgroundimg {
  background-image: url('cars.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  color: white;
  text-align: center;
  align-items: center;
  padding: 0px;
}
} 
/*----------------------------------------------------------------
/* imagenes fondo */
@media (min-width: 992px) { 
.backgroundimg {
  background-image: url('plane.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  color: white;
  text-align: center;
  align-items: center;
  padding: 0px;
}
} 
/*-------------------------------------------------------------------
/* imagenes fondo */
@media (min-width: 1200px) { 
.backgroundimg {
  background-image: url('ciudad5.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  color: white;
  text-align: center;
  align-items: center;
  padding: 0px;
} 
}