@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@import "font-awesome-sprockets";
@import "font-awesome";

body {
  padding-top: 50px;
  margin: 0px;
  /*background-color: #eaeeee;*/
  background-color: #f5f5f5;
  background-color: #e6ecf0;
  /* Previous background color: #e6ecf0; */
  word-wrap: break-word;
  /* font-family: 'Montserrat', regular; */
  /* font-family: "PT Serif", regular; */
  @media (max-width: 768px) {
    font-size: 13px;
  }
}

/* color: #0084B4; */


@media (max-width: 768px) {
  .col-sm-6 {
    padding: 0px;
  }
  .col-md-6 {
    padding: 0px;
  }
  .col-sm-2 {
    padding: 0px;
    margin-top: -5px;
  }
  .col-sm-3 {
    padding: 0px;
  }  
  .col-sm-4 {
    padding: 0px;
    margin-top: 10px;
  }
  .col-sm-7 {
    padding: 0px;
    margin-top: -5px;
  }
  .col-sm-8 {
    padding: 5px;
  }
  .col-md-10 {
    padding: 5px;
    .petition_show {
      margin-top: 0px;
    }
  }
  .container-fluid-principal {
    margin-top: 25px;
  }
}




@media (min-width: 768px) {
  .col-sm-6 {
    padding: 5px;
    padding-top: 0px;
  }
  .col-sm-2 {
    padding: 5px;
    padding-top: 0px;
  }
  .col-sm-3 {
    padding: 5px;
    padding-top: 0px;
  }
  .col-sm-4 {
    padding: 5px;
    padding-top: 0px;
  }
  .col-sm-7 {
    padding: 10px;
    padding-top: 0px;
  }
  .col-sm-8 {
    padding: 15px;
    padding-top: 0px;
  }
  .col-md-10 {
    .petition_show {

    }
  }
  .container-fluid-principal {
    margin-top: 80px;
    @media(max-width: 768px) {
      margin-top: 50px;
    }
  }  
}


/* typography */

h1 {
  color: #444;
  font-family: 'Open Sans';
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
  letter-spacing: -2px;
  @media (max-width: 992px) {
    font-size: 28px;
  }    
}
h2.encabezado_gordo {
  line-height: 40px; 
  @media(max-width: 768px) {
    line-height: 30px;
    letter-spacing: -1px;
  }
}
h2 {
  font-family: 'Open Sans';
  font-size: 36px;
  @media (max-width: 768px) {
    font-size: 25px;
  }
  font-weight: lighter;
  letter-spacing: -3px;
  color: black;
  padding-left: 0px;
}
h3 {
  font-family: 'Open Sans';
  font-size: 16px;
  letter-spacing: 0px;
  color: black;
  padding-left: 0px;
  font-weight: bolder;
}
h5 {
  font-family: 'Open Sans';
  font-size: 14px;
  letter-spacing: 0px;
  color: black;
  padding-left: 0px;
  font-weight: normal;
  line-height: 25px;
}


/* universal */


section {
  overflow: auto;
}


textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* header */



header {

  color: #444;
  margin-bottom: 0px;
  background-color: white;
  border: none;
  border-bottom: none;
  height: 50px; 
  min-height: 50px;
  font-family: 'Open Sans';
  font-weight: bolder;
  .icons_list {
    font-size: 14px;
    /*font-family: "Segoe UI",Arial,sans-serif;*/
    text-align: center;
    list-style: none;
    span {
      color: #444;
      font-weight: bold;
    }
    @media (max-width: 768px) {
        span {
        color: #444;          
        }
      }
    ul.icons {
      list-style: none;
      display: inline-flex;
      padding: 0px;
      width: 100%;
      margin: 0px;
    }
    li.icons {
      display: inline-flex;
      width: 15%;
      margin: 0px;
      a {
        align-items: center;
        text-align: center;
        text-decoration: none;
      }
    }
    li.dropdown {
      align-items: center;
      text-decoration: none;
      padding-top: 10px;
      width: 25%;
      margin: 0px;
      height: 50px;
      font-size: 13px;
      padding-top: 15px;
      .logo {
        margin-top: -5px;
      }      
      a {
        text-decoration: none;
      }
      @media (max-width: 768px) {
        padding-top: 10px;
        .logo {
          margin-top: 0px;
        }
        .icon_mobile {
          margin-top: 5px;
          font-size: 15px;
        }
        .icon_web {
          display: none;
        }
        span {
          font-family: 'Helvetica';
          /*display: block;*/
          display: none;
          font-weight: normal;
          i {
            font-size: 25px;
          }
        }
      }
      @media (min-width: 768px) {
        .icon_mobile {
          display: none;
        }
        .icon_web {

        }
      }
    }
    li.dropdown-home {
      align-items: center;
      text-decoration: none;
      padding-top: 10px;
      width: 25%;
      margin: 0px;
      height: 50px;
      font-size: 13px;
      padding-top: 15px;
      .logo {
        margin-top: -5px;
      }      
      a {
        text-decoration: none;
      }
    }    
  }
}
@media (max-width: 576px) {
  header li {
    margin-right: 5px;
    width: 100%;
    text-align: center;
    }  
}
@media (min-width: 576px) {
  header li {
    margin-right: 40px;
    width: 100%;
    text-align: center;
    color: white;
    }
}
header p {
  margin: 0px;
  font-size: 0.9em;
}
header ul {
  margin-bottom: 5px;
  margin-left: 10px;
}
header li:hover {
  border-bottom: 3px solid #666;
  /*background-color: #0096cc;*/
  text-decoration: none;
}
.active {
  border-bottom: 5px solid #666 !important;
  text-decoration: none;
}

/* footer */

footer {
  padding-top: 300px;
  color: #777;
  h5 {
    font-size: 18px;
  }
  h6 {
    font-size: 15px;
  }
}

footer a {
  color: grey;
}

footer a:hover {
  color: #0084B4;
}

footer small {
  float: left;
}

footer ul {
  list-style: none;
  padding-left: 0px;
  display: block;
}

footer ul li {
  margin-left: 15px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* home */

.home_page {
  list-style: none;
  background-color: white;
  font-family: 'Open Sans';
  h1 {
    font-size: 44px;
    text-align: left;
    font-weight: normal;
    margin-bottom: 10px;
    @media (max-width: 992px) {
      font-size: 28px;
    }    
  }
  h2 {
    font-size: 36px;
    font-weight: lighter;
    letter-spacing: -3px;
    text-align: left;
    color: black;
    padding-left: 0px;
  }
  h3 {
    font-size: 18px;
    letter-spacing: 0px;
    text-align: left;
    color: black;
    padding-left: 0px;
    font-weight: bolder;
  }
  h5 {
    font-size: 14px;
    letter-spacing: 0px;
    text-align: left;
    color: black;
    padding-left: 0px;
    font-weight: normal;
    line-height: 25px;
  }
  .ideal {
    background-image: url('city-ideal.jpg');
    background-size: cover;
    background-position: center center;
    height: 30vw;
    min-height: 200px;
    width: 100%;  
  }
  .imagen_principal {
    background-image: url('collage-personas-grande.jpg');
    background-size: cover;
    background-position: center center;
    height: 60vw;
    width: 100%;
    .container-fluid {
    padding: 10px;
    }      
  }

  .que_es {
    background-color: #1DA1F2;
    color: white;
    padding: 150px 200px;
    @media (max-width: 992px) {
      padding: 20px;
    }
  }

  @media (max-width: 992px) {
    .container-fluid {
      padding: 20px;
    }
    .btn {
      font-size: 16px;
    }
    .wrapper {
      margin-top: 30px;
    }
    .imagen_principal {
      font-size: 16px;
      .container-fluid {
        left: 120px;
      }
    }
  }
  @media (min-width: 992px) {
    h1 {
      font-size: 36px;
    }
    .container-fluid {
      padding: 50px 150px;
    }
    .btn {
      font-size: 20px;
    }
    .wrapper {
      margin-top: 60px;
    }
    .imagen_principal {
      height: 40vw;
      font-size: 36px;
      .container-fluid {
        left: 100px;
      }      
    }   
  }  
  @media (min-width: 1400px) {
    h1 {
      font-size: 44px;
    }
    .container-fluid {
      padding: 70px 250px;
      font-size: 28px;
    }
    .btn {
      font-size: 25px;
    }
    .wrapper {
      margin-top: 80px;
    }
    .imagen_principal {
      height: 30vw;
      font-size: 36px;
      .container-fluid {
        left: 200px;
      }      
    }   
  }  
}

.texto_titulo {

}

.imagen_principal {

}

.card.mb-3 {
  border-radius: 10px;
  width: 215px; 
  border: 1px solid #ddd; 
  border-radius: 10px; 
  display: block;
  @media(max-width: 768px) {
    width: 300px;
  }
  .card2 {
    overflow-x: hidden; 
    overflow-y: hidden; 
    height: 150px; 
    border-radius: 10px
  }
}

img.img_prueba {
  position: relative;
  top: 50%;
  left: -50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);     
}

.background_image {
  background-image: url("background_image.jpg");
  img {
    width: 100vw;
  }
  .texto {
    padding: 60px 250px;
    @media(max-width: 768px) {
      padding: 15px;
    }
  }
  h5.search {
    padding-left: 20%; 
    padding-right: 20%;
    @media(max-width: 768px) {
      padding: 0px;
    }
  }
}

.descripcion_empresa {
  padding-top: 40px;
  display: inline-flex;
  text-align: left;
  h5 {
    font-weight: 400;
    color: #008489 !important;
    font-size: 16px;
    padding-right: 20px;
  }
  i {
    font-size: 22px;
  }
  @media(max-width: 768px) {
    .imagen_ordena {
      display: none;
    }    
  }
}

.nombre {
  min-height: 50px;
  max-height: 60px;
  overflow: hidden;
}

.image-wrapper {
  width: 100%;
  height: 350px;
  overflow: hidden;
  @media(max-width: 768px) {
    height: 350px;
  }
}

.image-wrapper img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* howtouse */
.howtouse {
  .imagen_fondo {
    background-image: url('happy_people.jpg');
    background-size: cover;
    background-position: center center;
    height: 30vw;
    min-height: 300px;
    max-height: 400px;
    width: 100%;
    overflow: hidden; 
  }
  h1 {
    font-size: 60px;
    font-weight: bolder;
  }
  h2 {
    font-size: 40px;
    font-weight: bolder;
  }
  h3 {
    font-size: 25px;
    font-weight: bolder;
  }
  ul {
    list-style: none;
    padding-left: 0px;
  }
  li {
    text-align: center;
  }
  .paddings {
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 50px;
    @media (max-width: 576px) {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}

/* new login new session */

.new_inicio {
  .titulo {
    list-style: none;
    text-align: center;
    border-bottom: 1px solid $gray-lighter;
    font-weight: lighter;
  }
  ul {
    padding: 0px;
  }
  ul.titulo {
    display: inline-flex;
    margin-top: 20px;
    padding: 0px;
    columns: 3;
    border-bottom: 1px solid $gray-lighter;
    @media (max-width: 768px) {
      display: block;
      columns: 1;
    }
    li{
      list-style: none;
    }
  }
  ul.form {
    list-style: none;
    padding: 0px 60px;
    @media (max-width: 768px) {
      padding: 0px 5px;
    }
  }
  li.element {
    list-style: none;
    padding: 10px;
    @media (max-width: 768px) {
      width: 100%;
      border-bottom: 1px solid $gray-lighter;
      padding: 15px;
    }
  }
}

/* edit_user */

.edit_user {
  background-color: white;
  h1 {
    font-weight: lighter;
    font-size: 44px;
    padding-left: 200px;
    @media (max-width: 768px) {
      padding-left: 0px;
      font-size: 32px;
    }
  }
  h5 {
    margin: 5px;
  }
  input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    margin-bottom: 15px;
    width: 100%;
    @include box_sizing;
  }  
}

.titulos {
  ul {
    padding: 0px;
    margin: 0px;
  }
  .botones {
    list-style: none;
    display: inline-block;
    columns: 2;
    @media (max-width: 768px) {
      columns: 1;
    }
  }  
}


/* sidebar */

aside {

  @media (max-width: 768px) {
    padding: 0px;
    section.user_info {
      display: none;
    }
    section.plaza_stats {
      padding: 0px;
    }
    section.stats {
    display: none;
    }
  }

  section.user_info {
    margin-top: 0px;
    border: 1px solid grey;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}



.imagen_principal {
  max-width: 100%;
  max-height: 500px;
  overflow: hidden;
  
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.constructor {
  h1 {
    font-weight: bolder;
    letter-spacing: -1px;
  }
  textarea {
    color: $gray-lighter;
  }
  .show_habitaciones {
    button {
      margin: 5px;
    }
  }
}

.funcionamiento {
  padding-top: 20px;
  display: inline-flex;
  .colum_funcionamiento {
    padding: 10px;
    display: block;
    width: 33%;
    @media(max-width: 768px) {
      width: 100%;
    }
    h5 {
      font-weight: 600;
      color: #555;
    }
  }
  @media(max-width: 768px) {
    display: inline-block;
  }
}

.campos {
  margin-top: 100px; 
  margin-bottom: 200px;  
  @media (max-width: 768px) {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  h3 {
    font-size: 28px;
    font-weight: 700 !important;
    color: #484848 !important;
    letter-spacing: -1px;
  }  
  font-family: 'Helvetica';
  ul.lista_principal {
    margin-top: 20px;
    list-style: none;
    margin: 0px;
    padding: 0px;
    @media (max-width: 768px) {
    }
    li.lista_elemento {
      border-bottom: 1px solid #ddd;
    }
    li {
      border-bottom: 1px solid #ddd;
      width: 30%;
      display: inline-block;
      /*border: 1px solid $gray-lighter;*/
      margin: 5px;
      margin-bottom: 20px;
      @media (max-width: 768px) {
        width: 100%;
      }      
    }
    li.lista_oferta {
      font-family: 'Open Sans';
      width: 23%;
      margin-bottom: 25px;
      @media (max-width: 768px) {
      width: 100%;
      display: block;
      }
    }    
    ul.elemento {
      margin-bottom: 25px;
      .texto {
        width: 213px;
        @media(max-width: 768px) {
          width: 300px;
        }
      }
      .medicion {
        font-family: 'Open Sans';
        padding-left: 5px;
      }  
      h5 {
        margin: 0px;
      }
      list-style: none;
      padding: 0px;
      margin: 0px;
      li {
        display: inline-block;
        width: 100%;
        border: 0px;
        margin: 0px;
      }
      li.nombre {
        font-weight: 700;
        letter-spacing: -1px;
        font-size: 20px;
        color: #444;
        font-family: 'Open Sans';
        height: 60px;
        .nombre {
          display: inline-flex;
          width: 100%;
          .nombre_task {
            padding-left: 5px;
          }
        }
      }
      li.precio {
        h5 {
          margin: 0px;
        }
      }
      text_area {
        border: none;
      }
      h5.precio {
        font-weight: 400;
        color: grey;
      }
      li.precio_oferta {
        padding-left: 10px;
        h5 {
          font-size: 18px;
          color: #444;
        }
      }
      li.medicion {
        font-family: 'Open Sans';
        margin: 5px;
      }
      li.comentario {
        textarea {
          border: 1px solid #eee;
        }
      }
      li.empresa {
        h5 {
          line-height: 12px;
          font-weight: 600;
          color: #666;
        }
        padding-left: 5px;
        h5.stars {
          padding-top: 10px;
          font-size: 13px;
          font-weight: 600;
          color: #888;
          i {
            color: #008489 !important;
          }
        }
      }
      .description {
        height: 100px;
        line-height: 16px;
        font-size: 14px;
        overflow: hidden;
        @media (max-width: 768px) {
          height: auto;
        }
        h5 {
          line-height: 16px;
        }
      }
      li.tu_precio {
        padding-top: 30px;
        padding-left: 10px;
        h5 {
          font-weight: bolder;
          color: black;
        }
      }
      li.precio_medio {
        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
      }      
    }
/*    img {
      height: 100%;
      max-height: 180px;
      width: 100%;
      overflow: hidden;
      position: relative;
      border-radius: 10px;
    }
*/
  }
  img {
    max-width: 100%;
    max-height: 180px;
    min-height: 180px;
    max-height: 100%; 
    border-radius: 10px;
  } 
  .oferta_imagen {
    width: 100%;
    max-height: 100px;
    min-height: 80px;
    max-height: 100%;
    max-width: 120px; 
    border-radius: 5px;
    overflow: hidden;
  }
  .oferta_imagen_grande {
    width: 100%;
    max-height: 100%;
    max-width: 100%; 
    border-radius: 5px;
    overflow: hidden;
  }  
  ul.ofertas {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display: inline-flex;
    width: 100%;
    li {
      border: 1px solid #eeeeee;
      width: 25%;
      max-width: 250px;
      margin-right: 20px;
      
    }
    h5 {
      margin: 0px;
      padding: 0px;
      display: inline-flex;
      font-weight: bold;
      font-size: 18px;
      color: #555;
    }
    @media (max-width: 768px) {
      display: inline-flex;
      li {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
  .nombre_task {
    display: inline-flex;
    width: 80%;
  }
  .iconos_inicio {
    ul {
      li {
        width: 30%;
      }
      padding-top: 0px;
      display: inline-flex;
      @media (max-width: 768px) {
        display: block;
        li {
          width: auto;
        }
      }     
    }
  }
  li.tu_precio {
    padding-top: 30px;
    padding-left: 10px;
    h5 {
      font-weight: bolder;
      color: black;
    }
  }
  li.field {
    h5 {
      display: inline-flex;
    }
    padding-left: 10px;
    display: inline-flex;
    span {
      font-weight: normal;
      padding: 5px;
    }
  }
  li.observaciones_show {
    h5 {
      margin-top: 10px;
      padding: 5px;
      font-size: 13px;
      color: grey;      
    }
  }
  li.tu_precio_show {
    h5 {
      display: inline-flex;
      padding-left: 10px;
    }
  }
  li.importe_partida {
    padding-top: 0px;
    padding-left: 10px;
  }
  h3.popover-title {
    font-size: 15px;
  }
  .popover-content {
    font-size: 14px;
  }
  .iconos {
    .fa {
      font-size: 14px;
    }
  }
  .comentarios {
    padding-left: 10px;
    padding-top: 5px;
  }
}

.titulos {
  btn {
    @media(max-width: 768px) {
      display: inline-flex;
    }
  }
}

.resumen {
  border: 1px solid #ccc;
  border-radius: 15px;
  .titulo {
    border-bottom: 1px solid grey;
    padding-left: 15px;
    h3 {
      font-weight: 700;
      font-size: 20px;
      color: #444;
    }
  }
  h3 {
    font-weight: 700;
  }
  ul.lista_principal {
    display: inline-block;
    list-style: none;
    padding: 0px;
    margin: 10px;
    li {
      width: 100%;
      border-bottom: 1px solid #eee;
      h5 {
        margin: 5px;
        color: #444;
      }
    }
    .description {
      height: initial;
    }
    li.mat_aportar {
      padding-top: 10px;
      padding-bottom: 10px;      
      font-family: 'Open Sans';
      color: grey;
    }
    li.importe {
      padding-top: 10px;
      padding-bottom: 10px;
      font-weight: 500;
      font-size: 18px;
      h3 {
        color: #444;
      }
    }
    li.comentario {
      font-family: 'Open Sans';
      font-size: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      color: #444;
    }
    ul.elemento {
      border-bottom: 1px solid #dbdbdb;
      margin: 0px;
      padding: 10px;
      list-style: none;
    }
  }
}

.encabezado_proyecto {
    h3 {
    font-size: 16px;
    color: #444;
    font-weight: 400;
  }
}

.constructor_show_user {
  @media (max-width: 768px) {
    h1 {
      font-size: 32px;
    }
  }
  ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    li {
      border-bottom: 1px solid #ddd;
      padding-bottom: 20px;
    }
  }
  h3 {
    font-size: 20px;
    color: #444;
    font-weight: 400;
  }
  .imagen_usuario {
    @media(min-width: 768px) {
      display: none;
    }
  }
  .imagen_usuario_web {
    @media(max-width: 768px) {
      display: none;
    }
  }
}

.actions {
  margin-top: 50px;
}

.nueva_partida {
  .field {
    border-bottom: 1px solid #ddd;
  }
  h3 {
    font-size: 20px;
    color: #444;
    font-weight: 400;
  }
  input {
    padding: 10px;
    color: #444;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  textarea {
    padding: 10px;
    color: #444;
    border-radius: 10px;
    border: 1px solid #ccc;    
  }
  h5 {
    font-weight: 400;
    font-size: 16px;
    line-height: 14px;
  }
}


  img-rounded {
  border-radius: 12px;
  }



/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  width: 100%;
  @include box_sizing;
}

input {
  height: auto !important;
}

select {
  border: none;
  margin: 0px;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  columns: 2;
  list-style: none;
  margin: 0;
  ul {
    padding-left: 0px;
  }
  li {
    overflow: auto;
    padding: 5px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.lista {
  list-style: none;
  ul {
    padding: 10px 0px;

  }
  li {
    display: inline-flex;
    background-color: white;
    border: 1px solid $gray-lighter;
    width: 100%;
  }
}


.aside_content {
  background-color: white;
  border: 1px solid #dddfe2;
  margin-bottom: 12px;
  border-radius: 3px;
  align-items: center;
  ul {
    list-style: none;
  }
  li {
    border-bottom: 1px solid #e6e9ec;
  }
  li.titulo {
    padding: 10px 15px;
    font-weight: bold;
    font-size: 13px;
  }
  li.lista_block {
    display: block;
    padding: 5px 10px;
  }
  ul.principal {
    margin-bottom: 0px;
    padding-left: 0px;
  }
  .inline {
    display: inline-flex;
    padding-left: 0px;     
    li {
      border: 0px;
      font-size: 13px;
      align-items: center;
    }
    .right {
      position: absolute;
      right: 25px;
      padding-top: 0px;
      button {
        font-size: 13px;
        margin-top: 10px;
        padding: 5px;
      }
    }
    .nombres {
      font-size: 14px;
      padding: 5px 5px;
      width: 80%;
    }
  }
}




/* -------------------------------------- microposts ------------------------------------------------ */


/* --------------------------------------- Micropost ----------*/

/* ----------------------------------MICROPOSTS#SHOW------------*/

.comentario {
  p {
    margin: 0px;
  }
  h1 {
    margin: 0px;
    font-size: 18px;
  }
  h2 {
    margin: 0px;
    font-size: 16px;
  }
  h3 {
    margin: 0px;
    font-size: 16px;
  }
  h4 {
    margin: 0px;
    font-size: 16px;
  }
  h5 {
    margin: 0px;
    font-size: 14px;
  }
  h6 {
    margin: 0px;
    font-size: 14px;
  }        
  li.form_reply {
    width: 100%;
    margin: 0px;
    margin-bottom: 10px;
  }
  span {
    margin-top: 10px;
    display: inline-flex;
    color: grey;
  }
  span.contenido {
    padding-left: 35px;
    margin: 0px;
    line-height: 14px;
  }
  textarea {
    margin: 0px;
  }
  ul.comment {
    margin: 0px;
    margin-bottom: 10px;
  }
  ul.comentario {
    padding-left: 0px;
    display: block;
    list-style: none;
    li {
      margin: 0px;
    }
    .imagen {
      align-items: center;
    }
  }
  ul.texto_comentario {
    display: block;
    padding-top: 5px;
    padding-left: 5px;
    list-style: none;
  }  
  .reply {
    margin: 0px;
    font-size: 13px;
    list-style: none;
    display: block;
  }
  .reply1 {
    list-style: none;
    font-size: 13px;
    list-style: none;
    display: block;
    margin-left: 25px;
    border-left: 1px solid grey;
    padding-left: 5px;
    li {
      padding: 0px;
    }
  }
  .reply2 {
    list-style: none;
    font-size: 13px;
    list-style: none;
    display: block;
    margin-left: 25px;
    border-left: 1px solid grey;
    padding-left: 5px;
    li {
      padding: 0px;
    }
  }
  .reply3 {
    list-style: none;
    font-size: 13px;
    list-style: none;
    display: block;
    margin-left: 25px;
    border-left: 1px solid grey;
    padding-left: 5px;
    li {
      padding: 0px;
    }
  }
  .reply4 {
    list-style: none;
    font-size: 13px;
    list-style: none;
    display: block;
    margin-left: 25px;
    border-left: 1px solid grey;
    padding-left: 5px;
    li {
      padding: 0px;
    }
  }
  .reply5 {
    list-style: none;
    font-size: 13px;
    list-style: none;
    display: block;
    margin-left: 25px;
    border-left: 1px solid grey;
    padding-left: 5px;
    li {
      padding: 0px;
    }
  }
  .reply6 {
    list-style: none;
    font-size: 13px;
    list-style: none;
    display: block;
    margin-left: 25px;
    border-left: 1px solid grey;
    padding-left: 5px;
    li {
      padding: 0px;
    }
  }
  li.reply {
    color: red;
    display: inline-flex;
    margin: 0px;
    padding: 0px;
  }
  li.form_reply {
    width: 100%;
    padding: 0px;
    display: inline-flex;
    line-height: 8px;
  }
}
/* ----------------------------------MICROPOSTS#SHOW------------*/
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  margin-left: 50px
  input {
    border: 0;
    width: 100%;
  }
}



.video-responsive {
  margin-left: -20px;
  margin-right: -20px;
  position: relative;
  padding-bottom: 65%; /* 16/9 ratio */
  padding-top: 20px; /* IE6 workaround*/
  overflow: hidden;
}

.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}

.micropost_form {
  border: 1px solid #dddfe2;
  background-color: white;
  /*box-shadow: 0px 5px 5px #cbcbcd;*/
  margin-bottom: 10px;
  /*border-radius: 5px;*/

  textarea {
  border: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #e6e9ec;
  padding-top: 10px; 
  }

  .emoticons {
    li {
    /* background-color: #f2f4ff; */
    margin-left: 5px;
    margin-right: 5px;
    /* border-radius: 10px; */
    /* padding: 3px;*/
    font-size: 12px;
    }
  }

  .iconos-share {
  display: inline;
  padding: 0px;
  margin: 0px;
  width: 100%;
    textarea {
    width: 100%;
    }
    ul {
    padding-left: 3px;
    }
    li {
    list-style-type: none;
    padding: 5px;
    }
    select {
    margin-bottom: 3px;
    }
    file_input {
    width: 25%;
    border: #e6e9ec;
    }
  }

  .share-content {
  border: 1px solid #f2f2f2;
    textarea {
    margin: 0px;
    border: 0px;
    }
  }

  #test {
    position: relative;
    padding: 5px;
  }

  #test .wrapper {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    z-index: 2;
  }

  test .wrapper:hover {
    opacity: 0.5;
  }

  test button {
    background-color: #ccc;
    border: none;
    color: #666;
    padding: 3px 5px;
    border-radius: 5px;
    position: relative;
    top: 0;
    z-index: 1;
  }
}

.emoticons {
  @media (max-width: 768px) {
    span {
      /*display: none;*/
    }
  }
}


  
 .background-imagen {
    background-image: url('city.jpg');
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
 }
  .background-imagen2 {
    background-image: url('multitud.jpg');
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 94vh;
    display: flex;
 }



.img_petition_index {
  position:relative;
  display: block;
  max-width: 250px;
  max-height: 200px;
  overflow: hidden;
  height: expression(this.scrollHeight > 201? "200px" : "auto" );
  margin-left: -10px;
  margin-right: -10px;
}

.img_petition_index_big {
  position:relative;
  display: block;
  height: 100%;
  max-width: 600px;
  overflow: hidden;
  height: expression(this.scrollHeight > 401? "400px" : "auto" );
  margin-left: -10px;
  margin-right: -10px;
}




/*-----------------------------------------------------------------
/* imagenes fondo */
@media (max-width: 576px) { 
.backgroundimg {
  background-image: url('ciudad5.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
  display: flex;
  color: white;
  text-align: center;
  align-items: center;
}
}
/*-----------------------------------------------------------
/* imagenes fondo */
@media (min-width: 576px) { 
.backgroundimg {
  background-image: url('ciudad5.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
  display: flex;
  color: white;
  text-align: center;
  align-items: center;
  padding: 0px;
}
} 
/*----------------------------------------------------------------
/* imagenes fondo */
@media (min-width: 992px) { 
.backgroundimg {
  background-image: url('ciudad5.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
  display: flex;
  color: white;
  text-align: center;
  align-items: center;
  padding: 0px;
}
} 
/*-------------------------------------------------------------------
/* imagenes fondo */
@media (min-width: 1200px) { 
.backgroundimg {
  background-image: url('ciudad5.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 50vh;
  width: 100%;
  display: flex;
  color: white;
  text-align: center;
  align-items: center;
  padding: 0px;
} 
}