// Place all the styles related to the Partidas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.nueva_partida {
	input {
		font-weight: 600;
	}
	textarea {
		height: 100px;
		font-weight: 600;
		line-height: 20px;
	}
	::placeholder { /* Most modern browsers support this now. */
	   color: #bbb;
	   font-weight: 500;
	}	
}

.constructor {
	h1.title {
		font-size: 28px;
	}
	h2.description {
		margin: 0px;
		letter-spacing: normal;
	}
	.titulo_lista {
		font-family: 'Open Sans';
		margin-top: 20px;
		margin-bottom: 10px;
		line-height: 1.1;
		font-size: 20px;
		color: #444;
		font-weight: 400;
	}
	input {
		width: 100%;
	}
}
