// Place all the styles related to the Partidas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.nueva_partida {
	input {
		font-weight: 600;
	}
	textarea {
		height: 100px;
		font-weight: 600;
		line-height: 20px;
	}
	::placeholder { /* Most modern browsers support this now. */
	   color: #bbb;
	   font-weight: 500;
	}	
}
