// Place all the styles related to the Reforms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.proyecto {

}

.show_habitaciones {
	border: 1px solid #bbb;
	padding-top: 0px;
	padding: 10px;
	padding-left: 15px;
	border-radius: 20px;
}

select {
	border: none;
	margin: 0px;
	font-weight: 600;
}

input {
	width: auto;
}

.botones_habitaciones {
	button {
		h3 {
			font-weight: 600;
		}
		border-radius: 10px;
	}
}
