
  <footer class="footer" style="position: relative; bottom: 10px; width: 100%; align-items: center;">
    <div style="background-color: black;">
      <small>
        <a>Party by Roberto Villasevil</a>
      </small>
      <nav> 
        <ul>
          <li><%= link_to "About",   about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
          <li><%= link_to "Help", help_path %></li>
          <li><a href="">Blogs</a></li>
        </ul>
      </nav>      
    </div>

  </footer>
